.container{padding:0px;position:relative}
.container .row-offcanvas{width:100%;margin:0}
.banner_kp{height:205px;padding:0;position:relative}
.banner_kp .carousel{height:100%}
.content_box_kp{margin-top:20px;min-height:500px;padding-right:0px;padding-left:0px}
.content_kp{border:1px solid #b2b2b2;border-radius:4px;background:white;width:239px;position:absolute}